@charset "UTF-8";




		body{
		background-color: #f1f1f1;margin:0}
		.TaiwanFilms{
		display: inline-block;font-size: 50px;font-weight: bold;color: #428bca;  
		}
		
		.backStage-top{  
			width: 100%;		
			height: 80px;
			background: #f1f1f1;
			position: fixed;   
			margin-top: -12px;
			padding: 6px 0px;  
			               
			} 
		
		.backStage-bar{
			width: 15%; 
			display: inline-block;
			position: fixed;
			height: 800px;
			background: #f1f1f1;  
			top: 80px;    
			left: 0px;
			
		}
		.backStage-title{
			width: 100%;
			font-size: 25px;
			color: black;
			text-align :center;
			font-size: 15px;  
			background: #f1f1f1}
			
		
    
		}
		.backStage-title{ 
			background: #EA0082}
		.choose-list{
			display: none;
			text-align: left;    
 
		}

		.backStage-title div{
			width: 100%;
		}
		.choose-list a div{
			text-decoration: none;
		}  
		.backstage-title{
		/*	background: #EA0082;*/
			background: #d2d2d2;
			text-align: left;   
			font-size: 30px;
		}  
		.choose-list a{
		text-decoration: none; font-size: 18px;}
		
		.a-bar1:hover{background: #d2d2d2;}.a-bar2:hover{background: #d2d2d2;}.a-bar3:hover{background: #d2d2d2;}
		.f-bar1:hover{background: #d2d2d2;}.f-bar2:hover{background: #d2d2d2;}.f-bar3:hover{background: #d2d2d2;}
		.m-bar1:hover{background: #d2d2d2;}.m-bar2:hover{background: #d2d2d2;}.m-bar3:hover{background: #d2d2d2;}
		.s-bar1:hover{background: #d2d2d2;}.s-bar2:hover{background: #d2d2d2;}.s-bar3:hover{background: #d2d2d2;}
		.i-bar1:hover{background: #d2d2d2;}.i-bar2:hover{background: #d2d2d2;}.i-bar3:hover{background: #d2d2d2;}
	