		table {
            border-collapse: collapse;
            border: solid rgb(187, 184, 184);
            border-right: none;
            border-bottom: none;
           margin-left:100px;
        }

        th,
        td {
            border: solid gray;
            height: 30px;
            width: 100px;
            padding: 5px;

        }
        td:first-child,th:first-child{
        width:200px;
        }
		
        td:last-child {
            border-style: none;

        }
        .pageWrapper{
            width: 80%;
            margin-left:15%;
            margin-top:10%;
        }
        .addProject {
          position:absolute;
            width: 100px;
            height: 60px;
            display:inline-block;
            right:20%;
        }

        .functionWrapper {
            margin: auto;
            width: 80%;
            position: relative;
            text-align: center;
            height:100px;
        }
        .formWrapper{
            margin-top:30px;
            text-align: center;
            padding-bottom: 100px;
        }