#select-seats .ticketing-signin-widget {

  margin-bottom: 30px;

}

#select-seats .ticketing-signedin-widget {

  margin-bottom: 30px;

}



#frmSelectSeats .error-text {

  margin-bottom: 20px;

}



#select-seats-container {

  max-width: 727px;

  overflow: hidden;

}

#select-seats-container h3 {

  margin-bottom: 20px;

}



#ibtnNext {

  float: right;

  margin-top: 30px;

}



.countdown {

  margin-bottom: 30px;

}



#tblLegendPos {

  margin-bottom: 20px;

  text-align: center;

  width: 730px;

}



#divLegend {

  text-align: center;
  display:block;
}

#divLegend .legend-container {

  margin: 0 9px;
  display:inline-block;

}

#divLegend .legend-container img, #divLegend .legend-container span {

  height: 25px;

  vertical-align: middle;

}

#divLegend .Legend {

  margin-left: 3px;

}



/* from visStyles */

.Seating-Area {

  position: absolute;

  padding: 0px;

  margin: 0px;

  border: 0px;

  border-collapse: collapse;

}



.Seating-Area div {

  display: block;

  width: 100%;

  height: 100%;

}



.Seating-Area tr, .Seating-Area td {

  padding: 0px;

  margin: 0px;

  border: 0;

}



.Seating-Area img {

  vertical-align: top;

  width: 100%;

  height: 100%;

  display: inline-block;

  cursor: pointer;

  border: 0;

  margin: 0;

  padding: 0;

}



.Seating-AreaName {

  font-size: 17px;

  color: #000000;

  font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";

  font-style: normal;

  font-weight: bold;

  padding-top: 10px;

  padding-bottom: 10px;

}



.Seating-Area p {

  font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";

  position: absolute;

  z-index: 1;

  margin: 0px;

  padding: 0px;

  text-align: center;

  font-size: 11px;

  color: #000000;

  display: table-cell;

  cursor: pointer;

}



.Seating-RowLabelContainer {

  /* Required */

  height: 100%;

  float: left;

  position: relative;

  /* Customisable */

  /*background-color: $color-ffffff;*/

  display: inline-block;

  text-align: center;

  width: 15px;

  text-align: center;

  font-size: 11px;

  font-weight: bold;

}



.Seating-RowLabelContainer > table {

  /*background-color: $color-ffffff;*/

  position: absolute;

  width: 100%;

  border-collapse: collapse;

  padding: 0;

  margin: 0;

}



.Seating-RowLabel {

  font-size: 11px;

  font-weight: bold;

}



.Seating-RowLabelContainer div {

  position: absolute;

  font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";

  margin: 0px;

  padding: 0px;

  width: 100%;

}



img.SeatImage {

  z-index: -1;

  width: 100%;

  height: 100%;

}



.unselectable {

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none;

  -o-user-select: none;

  user-select: none;

}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~ STYLES USED FOR THE SEATING CONTROL          */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.Seating-Control {

  /* Required */

  overflow: auto;

  position: relative;

  /* Customisable */

  /*width: 560px;*/

  margin: 5px auto;

}



.Seating-Control > div {

  /* Customisable */

  margin: auto;

  overflow: visible;

}



.Seating-Theatre {

  position: relative;

  display: inline-block;

  float: left;

}



.Seating-Container {

  position: relative;

  visibility: hidden;

  /* Initially hide the seats so that we can change displaying */

  margin: 0 auto;

}



.Seating-Popup {

  /* Required */

  display: none;

  z-index: 9999;

  position: absolute;

  text-align: center;

  vertical-align: middle;

  /* Customisable */

  color: #ffffff;

  font-style: inherit;

  cursor: pointer;

  background-color: #960423;

  /* #FFD4A0 */

  font-size: 13px;

  font-weight: bold;

  font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";

  left: 0%;

  top: 0%;

  width: 100%;

  height: 80px;

}



.Seating-PopupMessage {

  /* Required */

  clear: both;

  height: 80px;

  position: relative;

}



.Seating-Screen {

  background: #443e3b;

  position: relative;

  height: 20px;

  margin: 0 auto;

}



.Seating-Screen img {

  height: 100%;

}



.Seating-Area.other-area img {

  background-color: #CECECE;

}