body {
	margin: 0;
}

.header {
	width: 100%;
	background-color: #f1f1f1;
}

.header .h-logo {
	width: 30%;
	display: inline-block;
}

.header .h-logo .Theme {
	font-size: 35px;
	padding: 5px;
	letter-spacing: -3px;
	font-weight: bold;
	margin: 0;
}

.header .h-logo .Theme a {
	text-decoration: none;
	color: red;
}

.header div {
	display: inline-block;
}

.header div div {
	padding: 15px;
	border-left: 1px solid #cdcdcd;
	display: inline-block;
}

.header .left-menu {
	width: 45%;
}

.header .left-menu div {
	width: 15%;
}

.header .left-menu div a {
	text-decoration: none;
	font-size: 15px;
	color: black;
}

.header .right-menu {
	width: 23%;
	
}

.header .right-menu div {
	width: 30%;
}

.header .right-menu div a {
	text-decoration: none;
	font-size: 15px;
	color: black;
}

.section {
	width: 100%;
	text-align: center;
}

.section .width-limit {
	width: 80%;
	display: inline-block;
	padding: 50px 0px;
}

.section .width-limit .categoryContent {
	width: 100%;
}

.section .width-limit .categoryContent .inner {
	border: 1px solid black;
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.section .width-limit .categoryContent .inner .projectThumb {
	width: 100%;
	height: 200px;
}

.section .width-limit .categoryContent .inner .projectThumb img {
	width: 100%;
}

.section .width-limit .categoryContent .inner .content {
	height: 200px;
	overflow: hidden;
}

.section .width-limit .categoryContent .inner .content h3 {
	font-weight: bold;
	font-size: 15px;
}

.section .width-limit .categoryContent .inner .content p {
	font-size: 13px;
}

#category {
	background-color: #f1f1f1;
}

#category .change-category {
	width: 100%;
}

#category .change-category .change-menu {
	width: 100%;
	padding: 10px 0px;
	float: left;
}

#category .change-category .change-menu .buttonBorder-active {
	border-bottom: 5px solid red;
}

#category .change-category div {
	width: 10%;
	display: inline-block;
	color: black;
	font-size: 15px;
	font-weight: bold;
	float: left;
}

#category .inner {
	background-color: white;
	border-radius: 10px;
	border: 1px solid #cdcdcd;
	width: 375px;
	margin: 8px 10px;
	display: inline-block;
}

#category .inner .projectThumb {
	width: 100%;
}

#category .inner .projectThumb img {
	width: 100%;
}

#category .inner .content {
	overflow: hidden;
	width: 100%;
}

#category .category-content {
	display: none;
}

#category .active {
	display: block;
}

#footer {
	background-color: #343434;
	position: relative;
}

#footer .width-limit {
	width: 90%;
	padding: 20px 0px;
}

#footer .width-limit .footer-content {
	width: 23%;
	vertical-align: top;
	text-align: left;
	color: #818181;
	display: inline-block;
}

#footer .width-limit .footer-content h3 {
	color: white;
}

#footer .width-limit .copyright {
	font-size: 13px;
	color: white;
	text-align: left;
	color: #818181;
}

#footer .width-limit .copyright p {
	margin: -2px;
}
