body{
	background-image:url('../img/wall1.jpeg')
}

.header {
  width: 100%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #cdcdcd;
}

.header .h-logo {
  width: 10%;
  display: inline-block;
}

.header .h-logo .Theme {
  font-size: 35px;
  padding: 5px;
  letter-spacing: -3px;
  font-weight: bold;
  margin: 0;
}

.header .h-logo .Theme a {
  text-decoration: none;
  color: red;
}

.header div {
  display: inline-block;
}

.header div div {
  padding: 15px;
  border-left: 1px solid #cdcdcd;
  display: inline-block;
}

.header .left-menu {
  width: 45%;
}

.header .left-menu div {
  width: 10%;
}

.header .left-menu div a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.header .right-menu {
  width: 23%;
  float: right;
}

.header .right-menu div {
  width: 30%;
}

.header .right-menu div a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

#main {
  background-color: #ececec;
  text-align: center;
}

#main .width-limit {
  display: inline-block;
  width: 90%;
  padding: 20px 0px;
}

#main .width-limit .thisWeekend {
  width: 100%;
  display: inline-block;
  color: #eb4b4b;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}

#main .width-limit .thisWeekend .Weekend {
  width: 30%;
  display: inline-block;
  list-style: none;
}

#main .width-limit .thisWeekend .Weekend .title {
  color: #00bbd6;
  padding-left: 3px;
  font-weight: bold;
  border-left: 3px solid #00bbd6;
}

#main .width-limit .thisWeekend .Weekend li {
  padding-top: 3px;
  color: black;
}

#main .width-limit .thisWeekend .Weekendcategory {
  width: 10%;
  display: inline-block;
  list-style: none;
}

#main .width-limit .thisWeekend .Weekendcategory li {
  padding: 10px 0px;
}

#main .width-limit .thisWeekend .Weekendcategory li span {
  color: white;
  background-color: rgba(0, 187, 214, 0.4);
  padding: 3px;
  font-size: 15px;
  margin-left: 10px;
}

#main .width-limit .thisWeekend .Weekendcategory li:hover {
  color: black;
}

.section {
  width: 100%;
  text-align: center;
}

.section .width-limit {
  width: 80%;
  display: inline-block;
  padding: 50px 0px;
}

.section .width-limit .change-category {
  padding: 30px 0px;
  width: 100%;
}

.section .width-limit .change-category .change-menu {
  width: 100%;
  text-align: left;
}

.section .width-limit .change-category .change-menu div {
  padding: 0px 10px;
  display: inline-block;
  color: red;
  font-size: 15px;
}

.section .width-limit .change-category .change-menu .buttonBorder-active {
  border-bottom: 1px solid red;
}

.section .width-limit .category-content {
  width: 100%;
  display: none;
  text-align: left;
}

.section .width-limit .category-content .inner {
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  width: 280px;
  height: 400px;
  display: inline-block;
  text-align: center;
}

.section .width-limit .category-content .inner .projectThumb {
  	width: 100%;
    height: 50%;
    padding: 4px;
    box-sizing: border-box;
}

.section .width-limit .category-content .inner .project {
  	width: 90%;
    display: inline-block;
    text-align: left;
    height: 135px;
}

.section .width-limit .category-content .inner .project .title {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.section .width-limit .category-content .inner .project .small-title {
  font-size: 13px;
  color: #828282;
  font-weight: lighter;
}

.section .width-limit .category-content .inner .project .content {
  font-size: 13px;
}

.section .width-limit .category-content .inner .downMeta {
    width: 80%;
    height: 12px;
    border: 2px solid #9EE9EF;
    display: inline-block;
    border-radius: 20px;
    text-align: left;
    padding: 0px 17px;
    margin-top: 7px;
}

.section .width-limit .category-content .inner .downMeta .wholePercent {
  width: 100%;
  display: inline-block;
  height: 6px;
  border-radius: 20px;
  background-color: #d9d9d9;
  margin: 0px 0px 6px 4px;
}

.section .width-limit .category-content .inner .downMeta .realPercent {
  width: 10%;
  display: inline-block;
  height: 6px;
  border-radius: 20px;
  background-color: #00bbd6;
  position: relative;
  left: 4px;
  bottom: 24px;
}

.section .width-limit .category-content .inner .plan {
    width: 90%;
    margin-top: -10px;
    height: 15px;
    padding-left: 8px;
    display: block;
}

.section .width-limit .category-content .inner .plan div {
  width: 40%;
  display: inline-block;
}

.section .width-limit .category-content .inner .plan .money {
  font-size: 14px;
  font-weight: bold;
  float: left;
  text-align: left;
}

.section .width-limit .category-content .inner .plan .date {
  float: right;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.section .width-limit .category-content .inner .plan .percent {
  float: left;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  border-left: 3px solid #00bbd6;
  padding: 0px 5px;
  margin: 0px 5px;
}

.section .width-limit .loadingMore {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  bottom: 0px;
}

.section .width-limit .loadingMore button {
  width: 80%;
  color: white;
  background: grey;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px 0px;
}

.section .width-limit .active {
  display: block;
}



#category .change-category {
  width: 100%;
}

#category .change-category .change-menu {
  width: 100%;
  padding: 10px 0px;
  float: left;
}

#category .change-category .change-menu .buttonBorder-active {
  border-bottom: 2px solid red;
}

#category .change-category div {
  display: inline-block;
  color: red;
  font-size: 15px;
  font-weight: bold;
  float: left;
  margin-left: 10px;
}

#category .inner {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  width: 280px;
  margin: 8px 10px;
  display: inline-block;
}

#category .inner .projectThumb {
  width: 100%;
}

#category .inner .projectThumb img {
  width: 100%;
  height: 107%;
}

#category .inner .content {
  overflow: hidden;
  width: 100%;
}

#category .category-content {
  display: none;
}

#category .active {
  display: block;
}

#footer {
  background-color: #343434;
  position: relative;
  bottom: 0px;
}

#footer .width-limit {
  width: 90%;
  padding: 20px 0px;
}

#footer .width-limit .footer-content {
  width: 23%;
  vertical-align: top;
  text-align: left;
  color: #818181;
  display: inline-block;
}

#footer .width-limit .footer-content h3 {
  color: white;
}

#footer .width-limit .copyright {
  font-size: 13px;
  color: white;
  text-align: left;
  color: #818181;
}

#footer .width-limit .copyright p {
  margin: -2px;
}
/*# sourceMappingURL=FlyingV.css.map */