a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body{
	background-image:url('../img/wall1.jpeg')
}
wrapper.{
	margin-left: 5%;
    margin-right: 2%;
}
section {
  margin-bottom: 30px;
}

.projectContentUpper {
  position: relative;
  padding-top: 45px;
  margin-bottom: 30px;
  display: block;
}

.projectContentUpper .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.projectContentUpper .container .projectTitle {
      padding: 50px;
    font-weight: bolder;
    font-size: 45px;
  margin-bottom: 40px;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 2.2rem;
  width: 100%;
  letter-spacing: 1.5px;
  color: gray;
  max-width: 670px;
  margin: 0 auto;
}

.projectContentUpper .container .upperContent {
  margin-bottom: 40px;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.projectContentUpper .container .upperContent .col-left {
  width: 60%;
  display: inline-block;
  height: 500px;
   margin-left:5%;
}

.projectContentUpper .container .upperContent .col-left .videoBlock {
  width: 100%;
  height: 80%;
}

.projectContentUpper .container .upperContent #projectShowWrapper {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectContentUpper .container .upperContent #projectShowWrapper .progressPoint {
  content: "";
  position: absolute;
  top: 32.5%;
  left: 50.5%;
  border: 5px solid #e4e4e4;
  border-bottom-style: none;
  border-radius: 50% 50% 0% 0%;
  background-color: white;
  width: 12px;
  height: 12px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projectContentUpper .container .upperContent #projectShowWrapper .progressSection {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.projectContentUpper .container .upperContent #projectShowWrapper .porgressSuccess {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.projectContentUpper .container .upperContent #projectShowWrapper .progressBar {
  width: 80%;
  height: 10px;
  border: 2px solid #9EE9EF;
  display: inline-block;
  border-radius: 20px;
  text-align: left;
  padding: 0px 17px;
  top: 35%;
  position: absolute;
  margin-left: 7%;
}

.projectContentUpper .container .upperContent #projectShowWrapper .progressBar .wholePercent {
  width: 100%;
  display: inline-block;
  height: 6px;
  border-radius: 20px;
  background-color: #d9d9d9;
  margin: 0px 0px 6px 4px;
}

.projectContentUpper .container .upperContent #projectShowWrapper .progressBar .realPercent {
  width: 0%;
  display: inline-block;
  height: 6px;
  border-radius: 20px;
  background-color: #00bbd6;
  position: relative;
  left: 4px;
  bottom: 24px;
}

.projectContentUpper .container .upperContent .col-right {
  width: 28%;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -55px;
  border-radius: 13px;
  border: solid lightslategray;

}

.projectContentUpper .container .upperContent .col-right h1 {
  font-family: Roboto,sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
  color: red;
  margin-bottom: 8px;
  margin-top:8px;
  line-height: 0.9;
  margin-left: 20%;
}
.projectContentUpper .container .upperContent .col-right>div{
	
	padding:5px;
}
.projectContentUpper .container .upperContent .col-right p {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-bottom: #8080804a solid;
}

.projectContentUpper .container .upperContent .col-right .colorPart{
	display: block;
    padding: 15px;
    background-color: #00bbd6;
    text-align: center;
}

.projectContentUpper .container .upperContent .col-right .splitButtonContainer{
	text-align: center;
   
	
}
.text-center {
  text-align: center;
}

.projectContentDown {
  margin-bottom: 30px;
  display: block;
}

.projectContentDown .container {
  width: 100%;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.projectContentDown .container .row {
  margin-right: -15px;
  margin-left: -15px;
  background-color: lightsteelblue;
}

.projectContentDown .container .col-left {
  width: 56%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left:4%;
}
.projectContentDown .container .col-left .middleFrame {
  margin: auto;
  width: 70%;
}
#TabStart{
	margin-left:150px;
}
.projectContentDown .container .col-left .middleFrame .memberBox {
  display: inline-block;
  width: 100px;
  border-radius: 50%;
  border: 3px solid #a6b7eb;
  height: 100px;
  background-size: contain;
  margin: 5px;
}
.projectContentDown .container .col-left h1 {
  font-weight: bold;
}

.projectContentDown .container .col-left #viewArea {
  margin: auto;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.projectContentDown .container .col-left #viewArea img {
  width: 100%;
}

.projectContentDown .container .col-left #viewArea pre {
  white-space: pre-wrap;
}

.projectContentDown .container .col-right {
  float: right;
  padding-left: 15px;
  width: 28%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
}

.projectContentDown .container .col-right .plan {
 background: -webkit-gradient(linear, bottom top, color-stop(lightblue, white));
  background: linear-gradient(top bottom, white lightblue);
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  width: 250px;
  height:400px;
  display: inline-block;
  text-align: center;
  margin: 15px;
  background-color:white;
  padding: 10px;
}
.plan .projectThumb{
  width: 100%;
  height: 200px;
}
.plan .projectThumb img{
	width: 100%;
  height: 200px;
}
.projectContentDown .container .col-right .plan .donateMoney {
  font-size: 30px;
}

.projectContentDown .container .col-right .plan .projectThumb {
  width: 100%;
  height: 200px;
}

.projectContentDown .container .col-right .plan .planText {
   width: 90%;
    position: relative;
    display: block;
    height:100px;
}
.projectContentDown .container .col-right .plan .planText .description{
	white-space: pre-line;
    text-overflow: ellipsis;
    word-wrap: break-word;
   
	
}
.projectContentDown .container .col-right .plan .planText .shipping {
    position: absolute;
    bottom: -47px;
    right: 0px;
    font-size: 14px;
    font-weight: bold;
    /* float: left; */
    text-align: left;
}

.projectContentDown .container .col-right .plan .planText .deliverDate {
   left: 0px;
    bottom: -71px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.projectContentDown .container .col-right .plan .planText .limit {
 position: absolute;
    right: -14px;
    bottom: -70px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    border-left: 3px solid #00bbd6;
    padding: 0px 5px;
    margin: 0px 5px;
}

.projectContentDown .rewardBar {
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-right: 6%;
}

h1.projectContentHeading {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 40px 0;
  text-align: center;
  border: none;
  font-size: 34px;
  letter-spacing: 3px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(155, 155, 155, 0.25)), to(#fefefe));
  background: linear-gradient(rgba(155, 155, 155, 0.25), #fefefe);
}

.btn.btn-red-ghost {
  color: #eb4b4b;
  background-color: transparent;
  border-color: #eb4b4b;
}

a:active, a:hover, a:link, a:visited {
  text-decoration: none;
}

.btn.fRed {
  background: #eb4b4b;
}

.btn {
  height: 38px;
  padding: 6px 12px;
  font-size: 13px;
  letter-spacing: 3px;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: 250ms all ease;
  transition: 250ms all ease;
}

.btn, .createWrapper section {
  margin-bottom: 0;
}

.btn, .btn-delProject {
  line-height: 24px;
  font-weight: 700;
}

.btn-block {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=fund.css.map */