@charset "UTF-8";
/* 對所有這個標籤下屬性*/
a {
  text-decoration: none; }

.header {
  width: 100%;
  background-color: #f1f1f1; }
  .header .h-logo {
    font-size: 30px;
    color: red;
    display: inline-block;
    font-weight: bold;
    padding: 0px 15px; }
  .header div {
    color: red;
    display: inline-block; }
    .header div div {
      border-left: 1px solid #cdcdcd;
      padding: 10px;
      display: inline-block;
      padding: 20px 20px; }
      .header div div a {
        color: black; }
  .header .right-menu {
    float: right; }

.main {
  width: 100%;
  height: 300px;
  position: relative;
  display: inline-block;
  overflow: hidden; }
  .main .img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10000px;
    padding: 0;
    margin: 0; }
    .main .img .main-bg1 {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100vw;
      height: 300px;
      background-image: url("../img/main-pic01.jpg"); }
    .main .img .main-bg2 {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100vw;
      height: 300px;
      background-image: url("../img/main-pic02.jpg"); }
    .main .img .main-bg3 {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100vw;
      height: 300px;
      background-image: url("../img/main-pic01.jpg"); }
    .main .img .main-bg4 {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100vw;
      height: 300px;
      background-image: url("../img/main-pic02.jpg"); }
    .main .img li {
      float: left; }

.section {
  width: 100%;
  text-align: center; }
  .section .width-limit {
    width: 80%;
    display: inline-block;
    padding: 50px 0px; }

#popular {
  text-align: center; }
  #popular .inner {
    border: 1px solid #cdcdcd;
    width: 30%;
    margin: 0px 10px;
    display: inline-block; }
    #popular .inner .projectThumb {
      width: 100%; }
      #popular .inner .projectThumb img {
        width: 100%; }
    #popular .inner .content {
      overflow: hidden;
      width: 100%; }

#category {
  background-color: #f1f1f1; }
  #category .change-category {
    width: 100%; }
    #category .change-category .change-menu {
      width: 100%;
      padding: 10px 0px;
      float: left; }
      #category .change-category .change-menu .buttonBorder-active {
        border-bottom: 5px solid red; }
    #category .change-category div {
      width: 10%;
      display: inline-block;
      color: red;
      font-size: 15px;
      font-weight: bold;
      float: left; }
  #category .inner {
    border: 1px solid #cdcdcd;
    width: 30%;
    margin: 8px 10px;
    display: inline-block; }
    #category .inner .projectThumb {
      width: 100%; }
      #category .inner .projectThumb img {
        width: 100%; }
    #category .inner .content {
      overflow: hidden;
      width: 100%; }
  #category .category-content {
    display: none; }
  #category .active {
    display: block; }

#unique {
  background-color: white; }
  #unique .unique-project {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(https://static.flyingv.asia/static/1900x500/curators/1/banner/5d1c3d043ff56.png);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static.flyingv.asia/static/1900x500/curators/1/banner/5d1c3d043ff56.png);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static.flyingv.asia/static/1900x500/curators/1/banner/5d1c3d043ff56.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static.flyingv.asia/static/1900x500/curators/1/banner/5d1c3d043ff56.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 300px;
    width: 100%; }
  #unique .text {
    float: left;
    color: white;
    font-size: 30px;
    padding: 15px; }
    #unique .text .text-content {
      padding: 0;
      text-align: left; }
      #unique .text .text-content p {
        margin: 0;
        font-family: serif; }
    #unique .text .more-btn {
      border: 1px solid white;
      font-size: 16px;
      color: white;
      padding: 5px 10px; }

#siteCategory {
  background-color: #f1f1f1;
  padding: 50px 0px; }
  #siteCategory .category-square {
    height: 200px;
    border-radius: 10%;
    width: 19%;
    display: inline-block;
    background-color: white;
    margin: 10px; }
    #siteCategory .category-square div {
      margin-top: 50px;
      font-size: 20px;
      color: #8a858e; }

#footer {
  background-color: #343434; }
  #footer .width-limit {
    width: 90%;
    padding: 20px 0px; }
    #footer .width-limit .footer-content {
      width: 23%;
      vertical-align: top;
      text-align: left;
      color: #818181;
      display: inline-block; }
      #footer .width-limit .footer-content h3 {
        color: white; }
    #footer .width-limit .copyright {
      font-size: 13px;
      color: white;
      text-align: left;
      color: #818181; }
      #footer .width-limit .copyright p {
        margin: -2px; }
        
        
<!--header的CSS -->

.header {
  width: 100%;
  background-color: #f1f1f1; }
  .header .h-logo {
    font-size: 30px;
    color: red;
    display: inline-block;
    font-weight: bold;
    padding: 0px 15px; }
  .header div {
    color: red;
    display: inline-block; }
    .header div div {
      border-left: 1px solid #cdcdcd;
      padding: 10px;
      display: inline-block;
      padding: 20px 20px; }
      .header div div a {
        color: black; }
  .header .right-menu {
    float: right; }
        
.sign {
    vertical-align: top;
    width: 300px;
    height: 250px;
    display: inline-block;
}    
#sign-in{
	background-color: #ffffff;
	margin: 5px;
	hight:230px
}
#sign-up{
	margin: 5px;
	background-color: #ffffff;
	hight:230px
}
.registrTotalDiv{
	padding-top:100px;
text-align:center;     
}
/* .registrMainDiv{	 */
/* 	width:30%; */
/* 	height:200px; */
/* 	display: inline-block; */
/* }    */
.smalltext{
	font-size: 8px;}
.nobooder{
	border:0;
	padding:0;
	border-bottom:1px solid black;}

.box {
      width: 50%;
      height: 550px;
      position: absolute;
      top: 10%; 
       left: 25%; 
       background-color: #6ab5ff;}
.box input{
	Border-radius: 10px;	
}


    