
body{
	background-image:url('../img/wall1.jpeg')
}

.receiptWrapper{
	width:80%;
	margin-left:15%;
}

.formWrapper table{
        border:solid 2px lightslategray;
        border-collapse: collapse;
        height:300px;
        width:100%;
    }
    th,td{
        border:solid 2px lightslategray;
        width:400px;
        padding:2px;
        padding-left:10%;
        text-align: left;
    }
    
    
    table th:first-child,table td:first-child{
        width:100px;
        height:30px;
        text-align: center;
        padding:5px;
    }
    .col-left{
        display:inline-block;
        width:45%;
        height:100%;
    }
      .col-right{
        display: inline-block;
        width:45%;
        height:100%;
        margin-left:5%;
        
    }
    .col-right img{
        width: 50%;
	
    }